
/* ########## GOOGLE FONTS ########## */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* ########## BASIC CSS ########## */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
   
}

ul,li{
    list-style: none;
}

img{
    height: 100%;
    width: 100%;
}

:root{
    --big-font:36px;
    --big-weight:400;
    
    --medium-font:16px;
    --medium-weight:400;

    --white-:#fff;
}

section{
    padding: 2.40rem 8rem;
}

.container{
    height: 100vh;
    position: relative;
}

/* ########## STICKY HEADER ########## */
header.active{
    background-color: black;
    transition: .1s ease;
}

/* ########## HEADER ########## */
header{
    width: 100%;
    margin: auto;
    background: transparent;
    z-index: 10;
    position: fixed;
    left: 0%;
    right: 0%;
    padding: 2.40rem 2.40rem 2rem 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .1s ease;
}

.logo-div{
    margin-right: 1rem;
}

.head-first{
    display: flex;
    align-items: center;
}

.head-first .logo{
    width: 200px;
}

.list ul{
    display: flex;
    align-items: center;
}

.list ul li a{
    color: var(--white-);
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 1.75rem 0 0;
    letter-spacing: 1px;
    position: relative;
    font-weight: 500;
}

.list ul li a::after{
    content: "";
    width: 0%;
    height: .02rem;
    position: absolute;
    left: 0%;
    background-color: white;
    bottom: -.20px;
    transition: .3s ease;
}

.list ul li a:hover::after{
    width: 100%;
    transition: .3s ease;
}

.head-second{
    display: flex;
}

.head-second ul li a{
    color: var(--white-);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
}

.head-second span{
    margin-left: 1.70rem;
    color: var(--white-);
    cursor: pointer;
    transition: .3s ease;
}

/* ########## HOME ########## */
.home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.219),rgba(0, 0, 0, 0.284)),url(img/home-bg.jpg);
    background-size: cover;
}

.left{
    margin-top: 23rem;
    color: var(--white-);
}

.left h4{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    text-shadow: 0 0 2px #555;
    text-transform: uppercase;
}

.left h2{
    text-transform: uppercase;
    text-shadow: 0 0 2px #555;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 1px;
}

.hover span{
    margin-top: 2.80rem;
    display: inline-block;
    border: 1px solid white;
    padding: 15px 50px;
    letter-spacing: 1px;
    font-size: 14px;
    transition: .3s ease;
}

.hover span:hover{
    transition: .3s ease;
    color: black;
    cursor: pointer;
    background-color: white;
}

#down{
    font-size: 65px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 85%;
    left: 50%;
    transition: .3s;
    animation: float-eth 4s ease-in-out infinite;
}   

@keyframes float-eth{
    0%{
      transform: translateY(.5rem);
      opacity: 1;
    }
    50%{
      opacity: 0;
      transform: translateY(1rem);
    }
    100%{
      opacity: 1;
      transform: translateY(.5rem);
    }
  }

  /* ########## FIRST SECTION ########## */
.recent-mission{
    background: url(img/recent-mission.webp) no-repeat;
    background-size: cover;
    /* background-position: center; */
    object-fit: cover;
}

  /* ########## SECOND SECTION ########## */
.crew{
    background: url(IMG/day-mission.webp) no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

  /* ########## THIRD SECTION ########## */
.intelsat{
    background: url(img/5.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

  /* ########## FOUR SECTION ########## */
.starship{
    background: url(img/6.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

  /* ########## FIVE SECTION ########## */
.nasa{
    background: url(img/7.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

  /* ########## FOOTER ########## */
footer{
    padding: 30px;
    text-align: center;
    background-color: black;
}

footer p{
    line-height: 1.6;
}

footer span{
    margin: 0 20px;
    color: #979797;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
}

footer p a{
    margin: 0 20px;
    font-size: 12px;
    color: white;
    transition: .3s ease;
}

footer p a:hover{
    color: rgba(169, 169, 169, 0.777);
    transition: .3s ease;
}

  /* ########## TOGGLE MENU ########## */
.close-list{
    position: absolute;
    right: -200%;
    top: 0%;
    z-index: 11;
    width: 340px;
    transition: .3s ease; 
}
.close-list.show{
    right: 0%;
    transition: .3s ease; 
}

.close-list ul span{
    color: white;
    cursor: pointer;
}

.close-list ul{
    background-color: black;
    height: 100vh;
    padding: 40px;
    text-align: right;
}

.close-list ul  a{
    color: var(--white-);
    font-size: 13px;
    letter-spacing: 1px;
    display: block;
    line-height: 40px;
    font-weight: 400;
    border-bottom: 1pt solid #252525;
}

.close-list ul  a:hover{
    color: rgba(169, 169, 169, 0.777);
    transition: .3s ease;
}

@media screen and (max-width:1134px) {
    .list{
        display: none;
    }
    .head-second #shop{
        display: none;
    }
    section{
        padding: 3rem 1.30rem;
    }
    header{
        padding: 1rem 1.50rem;
    }
    .close-list ul{
        background-color: black;
        padding: 1rem 1.50rem;
    }
    .left{
        margin-top: 27rem;
        color: var(--white-);
    }
    .left h4{
        font-size: 16px;
    }
    
    .left h2{
        font-size: 36px;
        line-height: 1;
        font-weight: 400;
    }
    
    .hover span{
        margin-top: 1.30rem;
    }    
    
    #down{
        margin-top: 3rem;
        font-size: 35px;
        right: 50%;
        position: absolute;
        display: inline-block;
        transform: translate(-90%,-50%);
        transition: .3s;
        animation: float-eth 4s ease-in-out infinite;
    }  

    footer p{
        line-height: 1.6;
    }
    
    footer span{
        display: block;
        margin: 0 20px;
        color: #979797;
        font-size: 12px;
        font-weight: 100;
        letter-spacing: 1px;
        margin-bottom: .40rem;
    }
    
    footer p a{
        display: inline-block;
        flex-wrap: wrap;
        margin: 0 5px;
        font-size: 12px;
        color: white;
        transition: .3s ease;
    }
}

